<h1>Input your allergy score</h1>
  <form action="/display">
    <div class="form-group">
      <label for="score">Enter your allergy score:</label>
      <input id="score" name="score" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">List out allergies</button>
  </form>
